/* Tailwind CSS Setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-input {
  border-color: transparent !important;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
